/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*  */
/*  */
/*  */
/*  */


@font-face {
  font-family: "poppins";
  src: url("./Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins bold";
  src: url("./Poppins-Bold.ttf") format("truetype");
}

h1 {
  font-family: "poppins bold";
  color: #65BC46;
  text-align: center;

}

h2 {
  font-family: "poppins bold";
  text-align: center;
  font-size: 15pt;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 9;
  opacity: 1;
  transition: opacity 1000ms;
  background-color: #8DE971;
  animation-name: moveToPlace;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

p {
  font-family: "poppins";
  font-size: 12pt;
  text-align: center;
  padding: 0.4em;

}

#content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.menuButton {
  color: #2da541;
  border: 0;
  background: none;
  font-family: "poppins";
  font-size: 1em;
  width: fit-content;
  letter-spacing: 1pt;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.4em;
  transition: color 600ms, background-color 600ms;

}

.menuButton:hover {
  background-color: white;
  color: #01c031;
  transition: 300ms;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*   background-color: #8DE971; */


}

.menuItens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5em;

}

.navBtns {
  font-size: 1.1em;
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  align-items: center;
  justify-items: center;
  /*   background-color: #8DE971; */
  padding: 0.2em;
  border-radius: 1em;
  animation-name: moveToPlace;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.selected {
  color: rgb(226, 162, 43);
  font-family: "poppins bold";
  background-color: white;
}

.logo {
  width: 60px;
  cursor: pointer;
}

.contentDiv {
  width: 100%;
  background-color: rgb(141, 233, 113);
  display: grid;
  grid-template-columns: repeat(1, minmax(170px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 2em 0 2em 0;
  animation-name: moveToPlace;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;


}

@keyframes moveToPlace {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);
  }
}


@keyframes reverseMoveToPlace {
  0% {
    transform: translateX(2000%);
  }

  60% {
    transform: translateX(-40%);
    easing: cubic-bezier(0.25, 1, 0.5, 1);
  }

  70% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-20%);
  }

  90% {
    transform: translateX(0);
    easing: cubic-bezier(0.25, 1, 0.5, 1)
  }
}


.contentDivMainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  background-color: rgb(168, 240, 146);
  max-width: 80%;
  border-radius: 2em;
  padding: 1em;
  gap: 2em;
  margin-bottom: 2em;
  animation-name: moveToPlace;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

.catEating {
  width: 280px;
  justify-self: center;

  animation: imageAnimation 9s ease-in-out infinite alternate,
    reverseMoveToPlace 2.5s ease-in-out 1;
}

.contentText {
  align-self: center;
  font-family: futura;
  font-size: 1.3em;
  text-align: center;
  animation: moveToPlace 2.7s ease-in-out 1;
  ;
}

@keyframes imageAnimation {
  0% {
    rotate: 0deg;
    transform: scale(0.9);
  }

  40% {
    rotate: 5deg;
    transform: scale(1.05);
  }

  80% {
    rotate: -5deg;
    transform: scale(1.05)
  }

  100% {
    rotate: 0deg;
    transform: scale(1)
  }
}

@keyframes imageAnimation2 {
  0% {
    rotate: 0deg;
    transform: scale(0.98);
  }

  40% {
    rotate: 1deg;
    transform: scale(1.05);
  }

  60% {
    rotate: -1deg;
    transform: scale(1.05)
  }

  100% {
    rotate: 0deg;
    transform: scale(1)
  }
}

.info {
  width: 250px;
  height: 240px;
  background-color: #8DE971;
  border-radius: 2em 0 2em 0;
  margin-top: 2em;
  margin-bottom: 4em;
  transition: transform 300ms, background-color 350ms;

}

.info:hover {
  transform: translateY(-10px);
  background-color: #baffa4;
}

#info1 {
  background-image: url("./info1img-02.svg");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: -190% 180%;
  background-size: 300px;
}

#info2 {
  background-image: url("./info2img-01.svg");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: 130% 100%;
  background-size: 150px;
}

#info3 {
  background-image: url("./info3img-01.svg");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: 130% 100%;
  background-size: 150px;
}

.homePageInfo {
  display: grid;
  max-width: 100vw;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4em;

}

.merlinContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: #534EA0;
}

.merlinTitle {
  color: white;
}

.merlinLogoDiv {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  justify-content: center;
  align-items: center;
  gap: .4em;
  width: 430px;
  overflow: hidden;
  animation: imageAnimation2 5s ease-in-out infinite alternate;
  
}

.merlinTxt {
  animation: moveToPlace2 2s ease-in-out 1;
  z-index: 1;


}

@keyframes moveToPlace2 {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0);
  }
}

.merlinFaceImg {
  z-index: 10;
  animation: moveToPlace 2s ease-in-out 1;
}

.merlinContentDiv {

  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 2em;


}

.merlinInfo {
  color: white;
  max-width: 500px;
  text-align: start;
  line-break: strict;

}